<h1>Listing marks</h1>
<br/>
<%= link_to '追加する', new_quiz_mark_path(@quiz) %>
<br/>
<br/>
<table>

<% for mark in @marks %>
  <tr>
    <td><%= link_to mark.title, edit_quiz_mark_path(@quiz,mark) %></td>
    <td><%= link_to '<small>削除</small>', [@quiz,mark], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


