<style type="text/css">
  #quiz_form {
    float: left;
  }
  #marks_index {
    float: left;
  }
  #small_navi {
    float: left;
  }
</style>

<%= render_partial "quiz_form" %>

<%= render_component :controller => "marks", :action => "index", :params => {:quiz_id => @quiz.id} %>

<div id="small_navi">
<%= link_to '挑戦してみる', @quiz %> |
<%= link_to '戻る', quizzes_path %>
</div>
