body {
    width: 800px;
    margin: 0em auto;
    background-color: #fff;
    color: #333;
}

#title {
height: 70px;
font-size: 500%;
font-weight: bold;
line-height: 70px;
}

#subtitle {
height: 34px;
font-size: 80%;
color:#666;
float: left;
}

#header {
}
#navi {
float: right;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#openid_url {
  background: url(/kokodoko/images/openid.gif) no-repeat;
  background-color: #fff;
  background-position: 0 50%;
  color: #000;
  padding-left: 18px;
}

input {
    font-size: 30px;
}

#map {
  margin: 5px;
  border : 1px solid #979797;
  width : 100%;
  height : 480px;
}

#progress_bar {
    position: relative;
    float: left;
    margin: 10px 0px 0px 250px;
    z-index: 1
}

#total {
    position: relative;
    background-color: white;
    top: 20px;
    left: 90px;
    float: left;
    margin: 0px 0px 10px 10px;
    font-size: 50px;
    line-height: 60px;
    z-index: 1
}

.gamepanel #answer #test_button {
    margin: 0px 0px 10px 10px;
}

.gamepanel #next_button {
    margin: 0px 10px 10px 10px;
}

.gamepanel #finish_button {
    margin: 0px 10px 10px 100px;
}

.gamepanel {
    padding-left: 200px;
    width: 100%;
}

