#progress_bar {  
    width:302px;
    height:24px;
    border:1px dotted #ccc;
    padding:0;  
    position:relative;  
    background-color: #77AADD
} 

#progress_bar div {  
    background-color:#fff;  
}
